.productWrapper {
    margin: 125px 0 30px 0;
    font-family: "Trebuchet MS";
    color: #2a2a2a;
}
.productNavigation {
    margin-top: 150px;
}
.productTitle {
    font-weight: 700;
    font-size: 40px;
    margin-left: 55px;
    margin-bottom: 30px;
}
.productCardWrapper {
    min-width: 350px;
    max-height: 730px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    margin-left: 120px;
    margin-top: 5px;
    /* transform: translate(0px, 42px); */
    /* margin: 0 auto; */
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}
.cardInfoRight {
    margin-bottom: 27px;
    text-align: right;
}
.codeText {
    font-size: 12px;
    opacity: 0.74;
    text-align: right;
}
.cardText {
    font-size: 16px;
    display: inline-block;
    margin-left: 7px;
}
.time {
    transform: translate(0, 6px);
}
.age {
    font-size: 24px;
}
.quantity {
    transform: translate(0, 13px);
}
.bigPrice {
    font-size: 25px;
    text-decoration: line-through;
    margin-bottom: 5px;
}
.currentPrice {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 34px;
}
.quastionWrapper {
    max-width: 100%;
    margin: 0 auto;
}
.quastionHead {
    font-family: "Trebuchet MS";
    font-weight: 700;
    font-size: 19px;
    color: #2a2a2a;
    background-color: #fff;
}
.questionBody {
    margin-top: 10px;
    font-family: "Trebuchet MS";
    font-size: 16px;
    line-height: 19px;
    color: #2a2a2a;
    background-color: #fff;
}
.questionbb {
    background-color: #fff;
    border-bottom: 2px solid rgba(42, 42, 42, 0.12);
}
.quastiosList {
    text-align: left;
}
.cardBottomMargin {
    margin-bottom: 44px;
}
.quastionsWrapper {
    border-top: 2px solid rgba(42, 42, 42, 0.12);
    margin-top: 44px;
}

.quastionButton {
    background-color: #fff;
    border: 1px solid rgba(42, 42, 42, 0.19);
    border-radius: 15px;
    padding: 13px 70px;
    font-weight: 700;
    font-size: 20px;
    opacity: 0.74;
    margin-top: 20px;
}
.quastionButton:hover {
    border: 1px solid #fb791b;
    color: #fb791b;
}
.infoWrapper {
    transform: translate(0, -100px);
    margin-left: 55px;
    max-width: 1000px;
    background-color: #fcf3ed;
}
@media (max-width: 1550px) {
    .productCardWrapper {
        min-width: 250px;
        padding: 20px;
        margin-right: 10px;
        margin-left: 100px;
    }
}
@media (max-width: 1429px) {
    .infoWrapper {
        max-width: 850px;
    }
}
@media (max-width: 1279px) {
    .infoWrapper {
        max-width: 720px;
    }
}
@media (max-width: 1110px) {
    .infoWrapper {
        max-width: 600px;
    }
}
@media (min-width: 1700px) {
    .productCardWrapper {
        margin-left: 200px;
    }
    .infoWrapper {
        max-width: 1080px;
    }
}
@media (min-width: 1800px) {
    .productCardWrapper {
        margin-left: 300px;
    }
    .infoWrapper {
        max-width: 1230px;
    }
}
.infoNavigation {
    /* border-bottom: 2px solid rgba(42, 42, 42, 0.12); */
    padding-bottom: 8px;
    display: flex;
    position: relative;
}
.infoNavigationButton {
    font-weight: 700;
    font-size: 22px;
    padding: 0 30px 10px 30px;
    background-color: #fcf3ed;
}
.actived {
    margin-left: -28px;
}
.active {
    border-bottom: 2px solid #000;
}
.infoLine {
    width: 100%;
    height: 2px;
    background-color: rgba(42, 42, 42, 0.12);
    transform: translate(0, -24px);
}
.description {
    font-size: 16px;
}
.slickTitles {
    font-weight: 700;
    font-size: 19px;
    margin-left: 105px;
    margin-bottom: 20px;
}
.slickWrapper {
    margin-bottom: 50px;
}
.load {
    margin: 400px 0;
}
.recommendedWrapper {
    max-width: 980px;
    margin-top: 20px;
    margin-left: 100px;
}
.recomendation {
    margin-bottom: 30px;
}
